<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light bg-secondary">
    <a class="navbar-brand" href="/">
        <img src="book.png" width="30" height="30" class="d-inline-block align-top" alt="">
        BruhLearning
    </a>
    <a class="btn btn-dark" href="addpage" style="position:relative; left:-90px">+ add a lesson</a>
    <a class="btn btn-dark" href="addpage">Login</a>

</nav>

<div class="d-flex justify-content-center">
    <a class="my-3 btn btn-primary" href="regpage" >Зарегистрироваться</a>
    <a class="my-3 mx-1 btn btn-primary" href="logpage" >Войти</a>
</div>

<form action="/logpage" method="post" th:object="${personDto}">
    <div class="d-flex justify-content-center">
        <input type="text" name="email" placeholder="Введите email" required>
    </div>

    <div class="my-1 d-flex justify-content-center">
        <input type="password" name="pwd" placeholder="Введите пароль" required>
    </div>
    <div class="my-1 d-flex justify-content-center">
        <input class="btn btn-success " type="submit" value="Войти" href="/mainpage">
    </div>
</form>

</body>
</html>