<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-secondary">
      <a class="navbar-brand" href="/">
        <img
          src="book.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        BruhLearning
      </a>
      <a class="btn btn-dark" href="addpage">+ add a lesson</a>
    </nav>
    У вас пока нет уроков.
  </body>
</html>
